github "PureLayout/PureLayout"
github "Alamofire/Alamofire"
github "ReactiveCocoa/ReactiveCocoa" "v4.0.0-RC.1"
github "Hearst-DD/ObjectMapper"
github "schickling/Device.swift" >= 0.3.0
github "artman/HexColor" ~> 1.0
github "stephencelis/SQLite.swift" "master"
github "duemunk/Async"
github "MoZhouqi/KMPlaceholderTextView"
github "optonaut/ActiveLabel.swift"
github "mixpanel/mixpanel-iphone"
github "alexeyxo/protobuf-swift" "ProtoBuf3.0-Swift2.0"
github "optonaut/CardboardParams.swift"
github "radex/SwiftyUserDefaults"
github "onevcat/Kingfisher" ~> 1.8
github "KyoheiG3/DynamicBlurView"
